/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #222;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none; }

a.meta {
  color: #ccc; }

.smallcaps {
  font-size: 0.5625em;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: white;
  margin-bottom: 0.9375em; }
  @media screen and (min-width: 1050px) {
    .smallcaps {
      font-size: 0.6875em; } }

.subtitle {
  font-weight: 300;
  font-style: oblique;
  margin-bottom: 1.375em; }
  @media screen and (min-width: 1050px) {
    .subtitle {
      font-size: 1.5em; } }

.block-title {
  font-weight: bold; }

h1 {
  font-size: 3.4375em;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.0125em;
  margin-bottom: 0.3125em; }
  @media screen and (min-width: 851px) {
    h1 {
      font-size: 6.25em; } }
  @media screen and (min-width: 1050px) {
    h1 {
      font-size: 8.4375em;
      margin-bottom: 0.125em; } }

.upper {
  background: linear-gradient(rgba(34, 40, 49, 0.45), rgba(57, 62, 70, 0.45)), url(../img/bg.jpg) no-repeat top center;
  background-size: cover;
  padding: 2.75em 1.25em 0 1.25em;
  height: 21.875em; }
  @media screen and (min-width: 1050px) {
    .upper {
      height: 34.375em; } }

.text-block {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  color: white; }
  .text-block::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 1050px) {
    .text-block {
      padding-top: 3.125em; } }

.lower {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.9375em; }
  .lower::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 1050px) {
    .lower {
      margin-top: 1.875em; } }

hr {
  border: 0.15625em solid;
  margin-bottom: 1.25em; }

.block {
  padding: 1.25em; }
  .block::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 1050px) {
    .block {
      padding: 0;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .block:last-child {
        margin-right: 0; } }

.icon-container {
  float: left;
  display: block;
  margin-right: 10.1484%;
  width: 26.56773%; }
  .icon-container:last-child {
    margin-right: 0; }

.label {
  float: left;
  display: block;
  margin-right: 10.1484%;
  width: 63.28387%; }
  .label:last-child {
    margin-right: 0; }

.icon {
  height: 4.25em;
  width: auto;
  max-width: 100%; }

/*# sourceMappingURL=main.css.map */
