/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

/* Type
================================================== */		
@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

body {
font: 1em/1.5 arial, sans-serif;
color: #373737;
}


h1 {
	font: 1.5em/1.5 'League Spartan', arial, sans-serif;
	color: #222222;
	line-height: 36px;
}

a {
	color: #373737;
	transition: all .1s ease-in;
}

a:hover, a:focus {
	color: #000;
}

main ul {padding-top: 1em;}


/* Layout
================================================== */

main, aside {
	width: 50%;
	height: 100vh;
}

main {float: right;} aside {float: left;}

main {
	text-align: center;
}

main .inner {
	margin: 0 auto;
	padding-top: 20em;
}

.avatar {display: none;}
aside {background-color: #000;}

aside img {max-width: 100%; }

@media only screen and (max-width: 53.125em) {
	main, aside {float: none; width: 100%;}
	main .inner {padding-top: 10em;}
	aside {display: none;}
	.avatar {display: block;}
	.avatar { margin: -1em auto 1em auto;}
 }

 @media only screen and (min-width: 100em) {
 	aside {width: 45%; padding-left: 5%;}
 }
