html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* 
* {
  margin: 0;
  padding: 0;
  border: 0;
} */

@font-face {
  font-family: "Marvin";
  src: url("../fonts/MArvinVisions-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/MarvinVisions-Bold.woff2") format("woff2"),
    url("fonts/MarvinVisions-Bold.woff") format("woff");
}

.lh-copy {
  line-height: 1.8;
}

@media screen and (min-width: 30em) {
  .measure-narrow-ns {
    max-width: 16em;
  }
}

.marvin {
  font-family: "Marvin", Futura, sans-serif;
}

.bg-white {
  background-color: #f8f8f8;
}

.highlight {
  color: black;
}

.hover-yellow:hover,
.hover-yellow:focus {
  color: #fdd65f;
}

.mta {
  margin-top: auto;
}
