/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Based on Steve Calamia's Codepen https://codepen.io/metagrapher/pen/tgcLl*/

body {
  animation: colorchange 25s alternate infinite ease-in-out; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 25s alternate infinite ease-in-out; /* Chrome and Safari */
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  color: #fff;
}

@keyframes colorchange
{
  0%   {background: #E03E36;}
  25%  {background: #FF7C38;}
  50%  {background: #B80D57;}
  75%  {background: #700961;}
  100% {background: #2B2D42;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #E03E36;}
  25%  {background: #FF7C38;}
  50%  {background: #B80D57;}
  75%  {background: #700961;}
  100% {background: #2B2D42;}
}

h1, h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: .125em;
}

header {
  position: absolute;
  left: 30px;
  bottom: 53px;
}
