// get the background working
.upper
	background: linear-gradient(rgba(34, 40, 49, 0.45), rgba(57, 62, 70, 0.45)), url(../img/bg.jpg) no-repeat top center
	background-size: cover
	padding: em(44px) em(20px) 0 em(20px)
	height: em(350px)
	@include media($desktop)
		height: em(550px)

.text-block
	@include outer-container
	color: white
	@include media($desktop)
		padding-top: em(50px)
