body
	font-family: $helvetica
	font-size: 16px
	line-height: 1.4
	color: #222

.smallcaps
	font-size: 18px
	line-height: 1.4
	text-transform: uppercase
	letter-spacing: 4px
	color: white
	margin-bottom: em(15px)

.subtitle
	margin-bottom: em(22px)

h1
	font-size: em(55px)
	font-weight: bold
	line-height: 1.1
	margin-bottom: em(5px)